
<div class="wrapper">
  <div class="container py-3">
    <% if admin_logged_in? %>
      <h4>
        <%= button_to "New Post", new_blog_path, method: 'get', class: "mb-3" %>
      </h4>
    <% end %>
      
    <!-- Most liked post -->
    <div class="jumbotron p-4 p-md-5 test-white rounded bg-secondary">
      <div class="col-md-10 px-0">
        <h1 class="display-4 font-italic text-light"><%= @featured.title %></h1>
        <p class="lead my-3 text-dark"><strong><%= @featured.subtitle %></strong></p>
        <p class="lead mb-0">
          <h3 class="font-weight-bold light-link"> <%= link_to "Continue reading...", @featured %></h3>
        </p>
      </div>
    </div>

    
      <!-- Most recent posts -->
    <div class="row">
      <div class="card-deck">
        <% @most_recent.each do |blog| %>
          <div class="col-sm-6">
            <div class="p-4 overflow-hidden mb-4 shadow-sm card card-background">
              <strong class="">
                <p><% blog.first_three_tags.each do |tag| %>
                  <%= link_to "#" + tag.tag_name, tags_path(tag) %>
                <% end %></p>
              </strong>
              <h3 class="mb-1"><%= blog.title %></h3>
              <div class="mb-3 text-info"><%= blog.publish_date %></div>
              <p class="card-text mb-2"><%= blog.subtitle %></p>
              <p class="font-weight-bold mb-0"><%= link_to "Continue reading...", blog_path(blog)%></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
  

  <main rols="main" class="container">
    <% if flash[:search_error] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:search_error] %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form_tag blogs_path, method: 'get' do %>
        <%= label_tag :query, "Search through blog posts by tag:" %>
        <%= text_field_tag :query %>
        <%= submit_tag "search" %>
      <% end %>
    </div>

    <div class="blog-post-list">
      <% @rest_of_the_blogs.each do |blog| %>
         <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm position-relative">
          <div class="col p-2 d-flex flex-column position-static card-background">
            <p class="mb-0"><%= link_to blog.title, blog %></p>
          </div>
        </div>
      <% end %>
    </div>

  </main>

  <footer class="blog-footer text-center" class="container-fluid">
    <p>Built by Krista</p>
  </footer>

  </div>
</div>
