
<div class="wrapper">
  <div class="container py-3">
      
    <!-- Most liked post -->
    <div class="jumbotron p-4 p-md-5 test-white rounded bg-secondary">
      <div class="col-md-10 px-0">
        <h1 class="display-4 font-italic text-light"><%= @featured.title %></h1>
        <p class="lead my-3 text-dark"><strong><%= @featured.subtitle %></strong></p>
        <p class="lead mb-0">
          <p class="font-weight-bold light-link"> <%= link_to "Continue reading...", @featured %></p>
        </p>
      </div>
    </div>

    
      <!-- Most recent posts -->
    <% @most_recent.each do |blog| %>
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static card-background">
          <strong class="d-inline-block mb-2 text-dark">
            <% blog.first_three_tags.each do |tag| %>
              <%= link_to "#" + tag.tag_name, tags_path(tag) %>
            <% end %>
          </strong>
          <h3 class="mb-1"><%= blog.title %></h3>
          <div class="mb-3 text-info"><%= blog.publish_date %></div>
          <p class="card-text mb-2"><%= blog.subtitle %></p>
          <p class="font-weight-bold mb-0"><%= link_to "Continue reading...", blog_path(blog)%></p>
        </div>
      </div>
    <% end %>
    
  </div>
  

  <main rols="main" class="container">
    <% if flash[:search_error] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:search_error] %>
      </div>
    <% end %>

    <%= form_tag blogs_path, method: 'get' do %>
      <%= label_tag :query, "Search through blog posts by tag:" %>
      <%= text_field_tag :query %>
      <%= submit_tag "search" %>
    <% end %>

    <ul>
      <% @rest_of_the_blogs.each do |blog| %>
        <li><%= link_to blog.title, blog %></li>
      <% end %>
    </ul>
  </main>

  <footer class="blog-footer" class="container-fluid">
    <p>Built by Krista</p>
  </footer>

  </div>
</div>
