<main class="container">
  <div class="blog-post">
    <h1 class="blog-post-title display-4 font-italic mb-3"><%= @blog.title %></h1>
    <h2 class="blog-post-subtitle mb-5 text-muted">This will be the blog subtitle</h2>
    <h3 class="blog-post-meta">
      <%= @blog.publish_date %> |
      <%= link_to @blog.user.name, user_path(@blog.user) %>
    </h3>
    <h6 class="blog-post-tags mb-4">
      <strong>
        <% @blog.tags.each do |tag| %> 
          <%= link_to "#" + tag.tag_name, tags_path(tag) %>
        <% end %>
      </strong>
    </h6>
    <p class="blog-post-body text-justify"><%= @blog.content %></p>
  </div>

  ❤️<%=@blog.likes%><%= link_to " like this post", like_path(@blog) %>
  <h5>Comments:</h5>
  <% @blog.comments.each do |comment| %>
    <%= comment.commentator + ": " + comment.content %><br>
    <% if admin_logged_in? %>
      <%= button_to "delete", blog_comment_path(blog_id: params[:id], id: comment), method: :delete %>
    <% end %>  
    <br>
  <% end %>

  <%= form_with url: "/blogs/#{params[:id]}/comments" do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :commentator %>
    <%= f.label "Comment" %>
    <%= f.text_area :content %>
    <%= f.submit "Add comment" %>
  <% end %>
</main>
